html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.first_img{
    position: relative;
    top: -10px;
}
#parent{
    border: 1px solid rgb(146, 146, 146);
    width: 100%;
    height:auto;
    /* background-color:  rgb(146, 146, 146); */
    padding: 0.4vw 0.5vw;
}
.first_child_div{
    position: relative;
    font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: 500;
    font-size: 16px;
    top: -72px;
    width: 100%;
}
.expansive{
    color: rgb(88, 81, 81);
    border: none;
}
.expansive:hover{
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(88,81,81);
    color: white;
}
.second_child_div{
    position: relative;
    display: flex;
    justify-content: right;
    align-items:center;
    padding: 0 2vw;
    top: -120px;
    gap: 1vw;
}
.pofile{
    position: relative;
    border: 1px solid #cfc6c6 ;
    width:90px;
    height:45px;
    display: flex;
    gap: 1vw;
    padding-left: 1vw;
    background-color: #ffffff;
    border-radius: 35px;
    top: 6px;
}
.pofile:hover{
    box-shadow:0px 1px 1px 1px #6e6b6b38;
}
.profile_user{
    width:32px;
    padding-top: 4px;
}
.menu{
    position: relative;
    top: 12px;
}
h3{
    position: relative;
    font-size: 15px;
    font-family: sans-serif;
    font-weight:normal;
    top: 5px;
    padding: 10px;
}
h3:hover{
    border-radius: 20px;
    background-color: #b8b0b038;
    padding: 10px;
}
.global{
    border: 1px solid  #b8b0b038;
    padding: 10px;
    border: none;
}
.global:hover{
    border-radius: 20px;
    background-color: #b8b0b038;
}
.big_searchbar{
    position: relative;
    border: 1px solid  #9e9b9b65;
    border-radius: 30px;
    box-shadow:0px 3px 3px 1px #6e6b6b38;
    width: 800px;
    height:68px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.8vw;
    top: -90px;
    left: 20%;
}   
.big_searchbar button input{
    border: none;
    outline: none ;
    height: 20px;
    background-color:white;
}
.big_searchbar button input:hover{
    background-color: #6e6b6b38;
    border: none;
    outline: none;
}

/* .big_searchbar button{
    width: 190px;
    border-radius:35px;
} */
.big_size{
    width: 300px;
    height:67px;
    border-radius: 45px;
    border: none;
    border-bottom: #6e6b6b38;
    outline: none;
    background-color:white;
}
.big_size:hover{
    background-color: #6e6b6b38;
    border-radius: 35px;
}
.small_size{
    width: 120px;
    height:67px;
    border-radius: 35px;
    outline: none;
    border: none;
    background-color:white;
}
.small_size:hover{
    background-color: #6e6b6b38;
    border-radius: 35px;
}
.last_text{
    position: relative;
    left: -70px;
    top: 15px;
    padding-left: 1vw;
}
.search_icon{
    position: relative;
    top: -22px;
    left: 100px;
}